* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i {
  cursor: pointer;
}
.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Logo  */
.logo {
  position: fixed;
  top: 0;
  right: 0;
}
.logo img {
  width: 150px;
  height: 100px;
  padding: 20px;
}

.text-a {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 7px;
  padding-bottom: 7px;
}
.text-b {
  font-size: 19px;
  font-weight: 280;
}

.foot {
  padding: 15px;
}
